* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Rules for the nav bar */
nav {
  display: flex; /*Next to each other */
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: black; /* #5d4954;*/
  font-family: "Saira Condensed", sans-serif;
}

.navlinks {
  float:right;
  margin-right: 20px;
  /*
  display: flex;
  width: 40%;
  justify-content: space-around;  */
}

nav ul li {
  display:inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navlinks li {
  list-style: none;
}

.navlinks a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.navlinks a:hover {
  color: red;
}
/* Nav bar rules ends */

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo img {
  height: 50px;
}

body {
  background: url(./images/Home_Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slogan {
  display: flex;
  flex-direction: column;
  font-family: 'Spartan', sans-serif;
  color: white;
  font-size:40px;
  font-weight: bold;
  padding:50px;
  padding-top: 100px;
}

.placement {
  height: 300px;
  width: 50%;
}

.div-size {
  height:150px;
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-in1 {
  animation: fadeIn 3s;
}

/* Code for FADING IN and FADING OUT SLOGAN on home page */
@keyframes fadeIn {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fadeOut {
  from{
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}

/* END OF FADING ELEMENTS */

.checkbtn, #checkbox{
  font-size: 30px;
  color:white;
  float: left;
  line-height:80px;
  margin-right: 40px;
  cursor:pointer;
  display:none;
}


@media only screen and width (max-width: 1024px) {
body {
  background: url(./images/mobile_background.png) no-repeat center center fixed;
}

.checkbtn {
  display: block;
}

ul{
  position:fixed;
  width:100px;
  height:100vh;
  top:80px;
  left:0;
  text-align: center;
}

nav ul li {
  display:block;
}

}
